.idea
*__pycache__*
*.vscode*
*.pyc
*.pth
*.pt
*.dat
*.sh
datasets/
BWCluster/logs/
BWCluster/*.out
BWCluster/*.sh
.DS_Store
training/logs
*.out
logs/
.ipynb_checkpoints/
BWCluster/
BWCluster/
weights
wandb/
results/explanations/
*.shresults/GPG_assets/**/*.pt
results/eval/
results/MPG_assets/
results/GPG_assets/
preprocessing/dataset_json_v3/
preprocessing/dataset_json_v3_stale/
